.uk-button-secondary {
	background-color: transparent !important;
	border: 2px solid #eeeeee !important;
	color: #fff !important;
}

.uk-button {
	display: inline-block !important;
	border-radius: 500px !important;
	padding: 0 20px !important;
	box-sizing: border-box !important;
	height: 48px !important;
	font-size: 16px !important;
	line-height: 44px !important;
	min-width: 180px !important;
}